body {
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: black;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black ;
}

.center {
    text-align: center;
}

h1 {
    color: red;
}

footer img {
    width: 80px;
    height: 60px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    text-align: center;
}